.landing-screen {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/042/686/non_2x/grazing-cows-on-sunset-vector.jpg");
  background-size: cover;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@import url("https://fonts.googleapis.com/css2?family=Risque&display=swap");

.header {
  font-family: Risque;
  font-size: 80px;
  color: white;
  text-shadow: -3px 3px black;
}

.start-button {
  margin: 150px 50px 50px 50px;
  font-family: Risque;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  text-shadow: -2px 2px black;
  font-weight: 600;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.start-button:hover {
  color: black;
  text-shadow: -2px 2px white;
}

/* Animation made with help from https://codepen.io/MarioDesigns/pen/woJgeo */

@keyframes floating {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
