.sign-up {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/042/686/non_2x/grazing-cows-on-sunset-vector.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-up-button {
  margin: 0px 0px 30px 130px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  font-family: Risque;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.sign-up-button:hover {
  color: white;
}

.sign-up-email {
  margin: -50px 0px 90px 130px;
}

.sign-up-link-div {
  font-family: Risque;
  margin: -50px 0px 0px 210px;
}

.sign-up-password {
  margin: -50px 0px 45px 100px;
}
