.farm-nav {
  font-family: Risque;
}

.farm-username {
  font-size: 40px;
  width: 250px;
  left: 30px;
  top: 30px;
  position: fixed;
}

.crop-counter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  position: absolute;
  left: 100px;
  top: 300px;
}

.farm-logout {
  font-family: Risque;
  position: fixed;
  right: 15px;
  top: 15px;
  background-color: bisque;
  color: darkolivegreen;
  font-size: 15px;
  padding: 5px 10px;
  border: solid 2px white;
}

.farm-logout:hover {
  background-color: darkolivegreen;
  color: bisque;
}

.message-link {
  transform: scale(2.5);
  position: absolute;
  right: 100px;
  top: 250px;
  color: bisque;
  border: solid 1px white;
  padding: 2px 3px 0px 3px;
  border-radius: 5px;
}

.message-link:hover {
  color: darkolivegreen;
  background-color: bisque;
}

.leaderboard-link {
  transform: scale(2.5);
  position: absolute;
  right: 100px;
  top: 450px;
  color: bisque;
  border: solid 1px white;
  padding: 0px 2px;
  border-radius: 5px;
}

.leaderboard-link:hover {
  color: darkolivegreen;
  background-color: bisque;
}

.crop-container {
  background-image: url("https://i.gyazo.com/38b2aa12114e42cdc4982149acd9cbc6.jpg");
  background-size: cover;
  width: 825px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.farm-container {
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  color: bisque;
}

.coming-soon {
  font-size: 70px;
  color: white;
  text-shadow: -3px 3px black;
  font-family: Risque;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1250px) {
  .farm-username {
    width: 125px;
  }
}
