.sign-in-container {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/042/686/non_2x/grazing-cows-on-sunset-vector.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.wood-board {
  background-image: url("https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/39007/wooden-bulletin-board-clipart-md.png");
  background-size: 300px;
}
